<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Student Housing Portal</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


  <style>
    /* .container {
      display: flex;
      flex-direction: row;

      justify-content: space-around;

       align-items: center; 
    } */

    .row {
      margin-top: 100px;
    }

    .btn {
      width: 100%;
    }

    .btn button {
      width: 100%;
      border-radius: 5px;
      border: none;
      letter-spacing: 2px;
      font-weight: bold;
      margin-top: 6px;
      cursor: pointer;
    }

    .card {
      box-shadow: 0px 2px 5px black;
      transition: transform 0.5s;
      cursor: pointer;
    }

    .card:hover {
      transform: translateY(-15px);
    }

    .star {
      font-size: 20px;
    }

    .checked {
      color: yellow;
    }

    marquee {
      width: 100%;
      background-color: #964B00;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 28px;
      padding: 11px;

    }
  </style>

</head>

<body>

  <!-- <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark"> -->

  {% load static %}

  <!-- scrolling headlines -->
  <marquee direction="scrolling">
    25% Off for 1st Year Students Till 15th-Jan 2024
  </marquee>



  <!-- navbar  -->

  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/shop">
        <img src="{%static 'shop/Logo_Roomify.png' %}" style="width: 90px; height: 80px;" alt="Your Brand Logo"
          class="d-inline-block align-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/shop">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/shop/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/shop/tracker">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/shop/contact">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" style="width: 148px;">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <!-- carousels -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="{%static 'shop/slider1.jpg' %}" class="d-block w-100" alt="..." style="width: 1200px; height: 700px;">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{%static 'shop/slider2.jpg' %}" class="d-block w-100" alt="..." style="width: 1200px; height: 700px;">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="{%static 'shop/slider3.jpg' %}" class="d-block w-100" alt="..." style="width: 1200px; height: 700px;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- <div class="container">
        
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-image-top" src='/media/{{product.0.image}}'> 
          <div class="card-body">
            <h2 class="card-title text-center">{{product.0.residence_name}}</h2>
            <p class="card-text text-center">{{product.0.desc}}</p>
            <h5 class="text-center">Rs. {{product.0.price}}</h5>
            <div class="star text-center">
              <li class="fa fa star-checked"></li>
              <li class="fa fa star-checked"></li>
              <li class="fa fa star-checked"></li>
              <li class="fa fa star-checked"></li>
              <li class="fa fa star-checked"></li>
            </div>
            <div class="btn">
              <button type="submit"><a href="/shop/buynow">Buy Now</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    

      
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-image-top" src='/media/{{product.1.image}}'>
          <div class="card-body">
            <h2 class="card-title text-center">{{product.1.residence_name}}</h2>
            <p class="card-text text-center">{{product.1.desc}}</p>
            <h5 class="text-center">Rs. 5{{product.1.price}}</h5>
            <div class="star text-center">
              <li class="fa fa star-checked"></li>
              <li class="fa fa star-checked"></li>
              <li class="fa fa star-checked"></li>
              <li class="fa fa star-checked"></li>
              <li class="fa fa star"></li>
            </div>
            <div class="btn">
              <button type="button">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-image-top" src='/media/{{product.2.image}}'>
          <div class="card-body">
            <h2 class="card-title text-center">{{product.2.residence_name}}</h2>
            <p class="card-text text-center">{{product.2.desc}}</p>
            <h5 class="text-center">Rs. {{product.2.price}}</h5>
            <div class="star text-center">
              <li class="fa fa star-checked"></li>
              <li class="fa fa star-checked"></li>
              <li class="fa fa star-checked"></li>
              <li class="fa fa star-checked"></li>
              <li class="fa fa star-checked"></li>
            </div>
            <div class="btn">
              <button type="button">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-image-top" src='/media/{{product.3.image}}'>
          <div class="card-body">
            <h2 class="card-title text-center">{{product.3.residence_name}}</h2>
            <p class="card-text text-center">{{product.3.desc}}</p>
            <h5 class="text-center">Rs. {{product.3.price}}</h5>
            <div class="star text-center">
              <li class="fa fa star-checked"></li>
              <li class="fa fa star-checked"></li>
              <li class="fa fa star-checked"></li>
              <li class="fa fa star"></li>
              <li class="fa fa star"></li>
            </div>
            <div class="btn">
              <button type="button">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container my-4"
    style="margin-top: 50px; margin-bottom: 50px;  border-width: 5px; border-style: double; border-color: rgb(105, 104, 104); width: 2300px; height: 150px; border-radius: 20px; ">
    <form action="/shop/" method="GET">

      <div class="form-group" style="padding-top: 12px;">
       <label for="min_price"><h6>Minimum Price:</h6></label>
       <input type="number" name="min_price" id="min_price" min="0">

       <label for="max_price"><h6>Maximum Price:</h6></label>
       <input type="number" name="max_price" id="max_price">


       <label for="room_number"><h6>Number of Beds:</h6></label>
       <input type="number" name="room_number" id="room_number" min="1" max="5">
      </div>

      <div class="form-group" style="padding-top: 25px;">
       <label for="flat_number"><h6>Dorm Number:</h6></label>
       <input type="number" name="flat_number" id="flat_number" min="1" max="5">


       <button type="submit" class="btn btn-outline-success" style="width: 148px; padding-bottom: 4px;">Filter</button>
      </div>
    </form>

  </div>

  <div class="container">
    {% for product in products %}
    {% if forloop.counter0|divisibleby:4 %}<div class="row">{% endif %}
      <div class="col-md-3">
        <div class="card">
          <img class="card-image-top" style="height: 183px; width: 285px;" src='/media/{{product.image}}'>
          <div class="card-body">
            <h5 class="card-title"><b>Dorm Number:</b> {{ product.flat_number }}</h5>
            <p class="card-text text-center"><b>AC/Non-AC: </b> {{product.desc}}</p>
            <p class="card-text text-center"><b>Number of Beds:</b> {{product.room_number}}</p>
            <p class="card-text"><b>Rent =</b> Rs. {{ product.price }}</p>
            <a href="{% url 'shop:buynow' product.id %}" class="btn btn-primary">View More</a>
          </div>
        </div>

      </div>
      {% if forloop.counter|divisibleby:4 or forloop.last %}
      {% endif %}
      {% endfor %}
    </div>



    <!-- 
    <div class="container">
      <form action="/shop/" method="GET">
        <label for="min_price">Price Range:</label>
        <input type="number" name="min_price" id="min_price" min="0">
        <select name="max_price" id="max_price">
        </select>
        <label for="room_number">Number of Rooms:</label>
        <input type="number" name="room_number" id="room_number" min="1" max="5">
        <label for="floor_number">Floor Number:</label>
        <input type="number" name="floor_number" id="floor_number" min="1" max="5">
        <button type="submit">Filter</button>
      </form>
    </div> -->

    <!-- </div>
  </div>
  </div> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>



</body>

</html>